body {
    @media screen and (min-width: 300px) {
        background: url('https://farm8.staticflickr.com/7528/15821777485_a54420e6a5_k_d.jpg');
        background-size: fill;
        background-repeat: no-repeat;
    }
}

.gnomon-index-content {

}


