.clock-in-box {
  margin: 10px;
  border: 2px solid;
  border-radius: 10px;
}
.clock-in-title {
  /*background: blue;*/

}
.clock-in-outer {
  /*background: gray;*/
}
.clock-in-week {
  margin-bottom: 10px;
  /*background: green;*/
}
.clock-in-day {
  margin-bottom: 10px;
  /*background: yellow;*/
}
.clock-in-button-area {

}
.clock-in-bottom-row {
  padding: 10px;
}
