.timesheet {
    @import "extern/bootstrap_custom.scss";
}
.timesheet-day {

  text-align: center;

}
.time {
  padding-top: 5px;
  background: gray;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}
.in-time {
  background: #BDECB6;
  padding-right: 5px;
  padding-left: 5px;
  cursor: pointer;
  height: 35px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}
.out-time {
  background: #FF7878;
  padding-right: 5px;
  padding-left: 5px;
  cursor: pointer;
  height: 35px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}
.in-time:hover {
  background: #a0e496;
}
.out-time:hover {
  background: #ff5c5c;
}
.add-time {
  padding: 0px;
  margin-bottom: 10px !important;
}
