{% extends "/base.html" %}

{% import "/login/widget.html" as login_widget %}

{%block imports %}
    {% assets "css_clockin" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
    <script src="/static/js/timeTools.js"></script>
    <script src="/static/js/database.js"></script>
    <script src="/static/js/clockIn.js"></script>

{% endblock %}

{% block content %}

<div class="header text-center" style="background-color: #008cba; color: white;">
  <div class="row">
    <h4><strong>Clock</strong></h4>
  </div>
</div>

<div id="clock-in-list" class="clock-in-list container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h4 class='text-center'>Sorry, You Don't Have Any Jobs</h4>
    </div>
    <div class="col-sm-6 col-sm-offset-3">

      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qShxyX_TuqM?start=15"></iframe>
      </div>
    </div>
  </div>
</div>

<div id="clock-in-template" style="display: none" class="col-sm-5 col-md-4 col-lg-3 clock-in-box">
  <div class="clock-in-outer">
    <div class="row">
      <div class="col-sm-12 text-center clock-in-title">
        <img class="clock-in-image" src=https://www.gravatar.com/avatar/205e460b479e2e5b48a07710c08d51?f=y&d=identicon></img>
        <h3 class="clock-in-title-text">Teaching Assistant</h3>
      </div>
      <div class="col-sm-12">
        <div class="row clock-in-bottom-row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-md-12 clock-in-week">
                Week
              </div>
              <div class="col-sm-12 clock-in-day">
                Day
              </div>
            </div>
          </div>
          <div class="col-sm-6 clock-in-button-area">
            <div class="row">
              <div class="col-sm-12 text-center">
                <button class="btn btn-block clock-in-btn">Clock-In</button>
              </div>
            </div>
            <div class="row center-block">
              <div class="col-sm-12 text-center">
                <a href="" class="timesheet-link">timesheet</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
