{% extends "/base.html" %}

{% import "/login/widget.html" as login_widget %}

{%block imports %}
<script src="/static/js/database.js"></script>
<script>
$(document).ready(function() {

  $("#gn-register-btn").click(function(event) {
    event.preventDefault();
    console.log('in event')
    var username = $("#gn-register-username").val();
    var password = $("#gn-register-password").val();
    Database.register(username, password).done(function(){
      Database.login(username, password).done(function() {
        window.location = "/clockin";
      })
    }).fail(function(){
      alert("failed");
    });
  });
});
</script>

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row gnomon-index-content">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="jumbotron bg-primary" style="padding: 20px; background-color: rgba(255, 255, 255, 0.75);">
                <div class="row center-block">
                    <div class="col-lg-7" style="color: black; font-weight: 900;">
                        <h1>Free unlimited time tracking.</h1>

                        <h3>Fork me on <a href="https://github.com/krrg/gnomon">GitHub</a>!</h3>
                    </div>
                    <div class="col-lg-5" style="min-width: 300px; max-width: 625px;">
                        {{ login_widget.create_widget("Sign up") }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" class="">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="row text-center">
                <h2>Try it out now!</h2>
                <p> Clock in and out and see your time sheet change </p>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <h3>It's cool</h3>
                </div>
                <div class="col-sm-4">
                    <h3>It's fun</h3>
                </div>
                <div class="col-sm-4">
                    <h3>It's productive</h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{# {{ login_widget.create_widget("Sign up") }} #}
