{% extends "/base.html" %}

{%block imports %}

  <script src="/static/js/login.js"></script>

{% endblock %}

{% block content %}
<div class="container-fluid">

  <div>
    <h2>Sign In:</h2>
    <div class="alert alert-danger" role="alert" style="display:none" id="sign-in-warning"></div>
    <form role="form">
      <div class="form-group">
        <input id="sign-in-username" type="text" class="form-control input-lg" placeholder="Username"/>
      </div>
      <div class="form-group">
        <input id="sign-in-password" type="password" class="form-control input-lg" placeholder="Password"/>
      </div>
      <button type="submit" class="btn btn-primary btn-lg btn-block" id="sign-in-button">Sign In</button>
    </form>
  </div>

</div>
{% endblock %}
