{% extends "/base.html" %}


{%block imports %}
{% assets "css_manageOrganizations" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
{% endassets %}
{% endblock %}

{% block content %}
<div id="clock-in-list" class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="row">
        <div class="col-sm-12 org-detail-outer">
          <div class="org-detail-inner">
            <div class="left-content">
              This is an organization
            </div>
            <div class="right-content">
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-primary">
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-primary">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12 org-detail-outer">
          <div class="org-detail-inner">
            <div class="left-content">
              This is an organization
            </div>
            <div class="right-content">
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-primary">
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-primary">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12 org-detail-outer">
          <div class="org-detail-inner">
            <div class="left-content">
              This is an organization
            </div>
            <div class="right-content">
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-primary">
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-primary">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12 org-detail-outer">
          <div class="org-detail-inner">
            <div class="left-content">
              This is an organization
            </div>
            <div class="right-content">
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-primary">
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-primary">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}
