{% extends "/base.html" %}


{%block imports %}
    {% assets "css_timesheet" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
        <style>
          .timesheet-day {

            text-align: center;

          }
          .time {
            padding-top: 5px;
            background: gray;
            padding-right: 5px;
            padding-left: 5px;
            cursor: pointer;
            -webkit-user-select: none; 
            -moz-user-select: none;
            -khtml-user-select: none;
            -ms-user-select: none;
          }
          .in-time {
            background: #BDECB6;
            padding-right: 5px;
            padding-left: 5px;
            cursor: pointer;
            height: 35px;
            -webkit-user-select: none; 
            -moz-user-select: none;
            -khtml-user-select: none;
            -ms-user-select: none;
          }
          .out-time {
            background: #FF7878;
            padding-right: 5px;
            padding-left: 5px;
            cursor: pointer;
            height: 35px;
            -webkit-user-select: none; 
            -moz-user-select: none;
            -khtml-user-select: none;
            -ms-user-select: none;
          }
          .in-time:hover {
            background: #a0e496;
          }
          .out-time:hover {
            background: #ff5c5c;
          }
        </style>
        <script>
          var currentInputBox = null;
          var originalText = null;
          function updateFromInputBox() {
            if(currentInputBox) {
              var text = parseText($("input", currentInputBox).first().val());
              if(text === null) {
                text = originalText;
              }
              $(currentInputBox).html(parseText(text));
              currentInputBox = null;
            }
          }
          function parseText(text) {
            text = text.trim();

            if(text === "") {
              return text;
            }
            var morning = true;
            if(text.toLowerCase().indexOf("pm", text.length - 2) !== -1) {
              morning = false;
              text = text.substring(0, text.length - 2);
            }
            if(text.toLowerCase().indexOf("am", text.length - 2) !== -1) {
              text = text.substring(0, text.length - 2);
            }

            var ending = " PM";
            if(morning) {
              ending = " AM"
            }

            var splitText = text.trim().split(":");
            var firstNumber = parseInt(splitText[0]);

            if(isNaN(firstNumber) || firstNumber < 1 || firstNumber > 12) {
              return null;
            }

            if(splitText.length == 1) {
              return firstNumber+":00"+ending;
            }

            var secondNumber = parseInt(splitText[1]);

            if(isNaN(secondNumber) || secondNumber < 0 || secondNumber > 59) {
              return null;
            }

            if(secondNumber < 10) {
              return firstNumber+":0"+secondNumber+ending;
            }
            else {
              return firstNumber+":"+secondNumber+ending;
            }
          }
          $(document).ready( function (event) {

            $(".in-time, .out-time").on("click", function(event) {
              event.preventDefault();
              if(currentInputBox !== null && !this.isEqualNode(currentInputBox)) {
                updateFromInputBox();
                return false;
              }
              if(!this.isEqualNode(currentInputBox)) {

                updateFromInputBox();
                originalText = $(this).text();
                $(this).html('<div class="form-group"><input type="text" class="form-control input-sm error" placeholder="HH:MM" value='+originalText+'></div>');
                currentInputBox = this;
              }
              return false;
            });
            $(document).click( function(event) {
              if(currentInputBox) {
                updateFromInputBox();
              }
            });
            $(document).keypress(function(event){
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if(keycode == '13'){
                  updateFromInputBox();   
                }
            });
            
            var makeDropDown = function() {
              var domString = '<div class="col-sm-14 col-xs-14 time"><div class="row"><div class="col-sm-14"><div class="form-group"><input type="text" class="form-control input-sm error" placeholder="HH:MM AM/PM" style="background-color: #daf5d6"></div></div><div class="col-sm-14"><div class="form-group"><input type="text" class="form-control input-sm error" placeholder="HH:MM AM/PM" style="background-color: #ffc7c7"></div></div><div class="col-sm-14" style="padding-bottom: 5px;"><button type="button" class="btn btn-default btn-xs add-time">Accept</button><button type="button" class="btn btn-default btn-xs reject-new">Cancel</button></div></div></div>';
              var dropDown = $(domString);        
              return dropDown;      
            }
            var dropDown = makeDropDown();


            var currentParent = null;
            $(".add-time").on("click", function(event) {
              var parent = $(event.target).parents(".row").first();

              parent.find(".add-time-col").hide();
              if(currentParent !== null) {
                currentParent.find(".add-time-col").show();
              }
              currentParent = parent;

              $(dropDown).appendTo($(event.target).parents(".row").first());
              $(dropDown).show();
            });
            $(document).on("click", ".reject-new", function(event) {
              currentParent.find(".add-time-col").show();
              $(dropDown).hide();
            });
            $(document).on("click", ".reject-new", function(event) {
              currentParent.find(".add-time-col").show();
              $(dropDown).hide();
            });
          });

          var timesheet = {
            "dateCreated":1417473014,
            "clockedIn":[1417473056],
            "clockedOut":[1417474000]
          }
          var initFromJson = function(json) {
            var dateCreated = new Date(json['dateCreated']);
            var year = dateCreated.getFullYear();
            var month = "test";

          }
          var createWeek = function(clockInArray, clockOutArray) {

          }
          var createDay = function(clockInArray, clockOutArray) {

          }
        </script>
    {% endassets %}
{% endblock %}

{% block content %}
<div class="timesheet">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-14 text-center" style="background: gray;">
                <h4>Week of Nov 16-22, 2014</h4>
            </div>
            <div class="visible-xs col-xs-7 text-center" style="background: gray;">
                In
            </div>
            <div class="visible-xs col-xs-7 text-center" style="background: gray;">
                Out
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <div class="row">
                    <div class="col-sm-14 col-xs-14 timesheet-day">
                        Sunday
                    </div>
                    
                    <div class="col-sm-14 col-xs-7 in-time">
                        9:55
                    </div>
                    <div class="col-sm-14 col-xs-7 out-time">
                        10:55
                    </div>
                    
                    <div class="col-sm-14 col-xs-14 add-time-col">
                        <button type="button" class="btn btn-default btn-block add-time" style="padding: 0px">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="row">
                    <div class="col-sm-14 col-xs-14 timesheet-day">
                        Monday
                    </div>
                    <div class="col-sm-14 col-xs-7 in-time">
                        9:55
                    </div>
                    <div class="col-sm-14 col-xs-7 out-time">
                        10:55
                    </div>
                    <div class="col-sm-14 col-xs-14 add-time-col">
                        <button type="button" class="btn btn-default btn-block add-time" style="padding: 0px">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="row">
                    <div class="col-sm-14 col-xs-14 timesheet-day">
                        Tuesday
                    </div>
                    <div class="col-sm-14 col-xs-7 in-time">
                        9:55
                    </div>
                    <div class="col-sm-14 col-xs-7 out-time">
                        10:55
                    </div>
                    <div class="col-sm-14 col-xs-14 add-time-col">
                        <button type="button" class="btn btn-default btn-block add-time" style="padding: 0px">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="row">
                    <div class="col-sm-14 col-xs-14 timesheet-day">
                        Wednesday
                    </div>
                    <div class="col-sm-14 col-xs-7 in-time">
                        9:55
                    </div>
                    <div class="col-sm-14 col-xs-7 out-time">
                        10:55
                    </div>
                    <div class="col-sm-14 col-xs-14 add-time-col">
                        <button type="button" class="btn btn-default btn-block add-time" style="padding: 0px">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="row">
                    <div class="col-sm-14 col-xs-14 timesheet-day">
                        Thursday
                    </div>
                    <div class="col-sm-14 col-xs-7 in-time">
                        9:55
                    </div>
                    <div class="col-sm-14 col-xs-7 out-time">
                        10:55
                    </div>
                    <div class="col-sm-14 col-xs-14 add-time-col">
                        <button type="button" class="btn btn-default btn-block add-time" style="padding: 0px">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="row">
                    <div class="col-sm-14 col-xs-14 timesheet-day">
                        Friday
                    </div>
                    <div class="col-sm-14 col-xs-7 in-time">
                        9:55
                    </div>
                    <div class="col-sm-14 col-xs-7 out-time">
                        10:55
                    </div>
                    <div class="col-sm-14 col-xs-7 in-time">
                        9:55
                    </div>
                    <div class="col-sm-14 col-xs-7 out-time">
                        10:55
                    </div>
                    <div class="col-sm-14 col-xs-14 add-time-col">
                        <button type="button" class="btn btn-default btn-block add-time" style="padding: 0px">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="row">
                    <div class="col-sm-14 col-xs-14 timesheet-day">
                        Saturday
                    </div>                    
                    <div class="col-sm-14 col-xs-14 add-time-col">
                        <button type="button" class="btn btn-default btn-block add-time" style="padding: 0px">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>                   
                  
        </div>
    </div>
</div>
{% endblock %}
