{% if 'userid' not in session %}
{# User not logged in: #}


<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">GNOMON</a>
        </div>

        <div class="nav navbar-nav navbar-right">
            <form action="/login">
                <button class="btn btn-primary navbar-btn">Login</button>
            </form>
        </div>
    </div>
</div>

{% elif loginpage %}
{# Special blank navbar for login page #}

<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">GNOMON</a>
        </div>
    </div>
</div>

{% else %}
{# User is logged in: #}


<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" href="/">GNOMON</a>
        </div>

        <div class="nav navbar-nav navbar-right">
            <form action="/logout">
                <button class="btn btn-primary navbar-btn">Logout</button>
            </form>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% for link in navlinks %}
                    <li {%if link['href'] == request.url_rule.rule %} class="bg-primary"{%endif%}><a href="{{link['href']}}">{{link['text']}}</a></li>
                {% endfor %}
            </ul>
        </div><!-- /.navbar-collapse -->



    </div><!-- /.container-fluid -->
</nav>
{%endif %}
